@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        /* @apply scroll-smooth hover:scroll-auto; */
        /* @apply bg-gradient-to-r from-black to-blue-900; */
        /* @apply bg-blue-900; */
        @apply bg-transparent;
    }
    body{
        @apply transition-all duration-500 max-w-screen-2xl mx-auto bg-orange-50 dark:bg-neutral-900 dark:text-amber-50 ;
        /* @apply dark: bg-red-400 dark: text-blue-800; */
    }
}

@keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .animate-spin-slow {
    animation: spin-slow 20s linear infinite;
  }
