@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        /* @apply scroll-smooth hover:scroll-auto; */
        /* @apply bg-gradient-to-r from-black to-blue-900; */
        /* @apply bg-blue-900; */
        @apply bg-transparent  scroll-smooth hover:scroll-auto;
    }
    body{
        @apply transition-all duration-500 max-w-5xl mx-auto bg-orange-50 dark:bg-neutral-900 dark:text-amber-50 animate-born;
        /* @apply dark: bg-red-400 dark: text-blue-800; */
    }
}
html{
  scroll-behavior: smooth !important;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
}

.grid-auto{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(3rem, 1fr));
}

.grid-3-4{
  display: grid;
  grid-template-columns: 75% 25%;
}
.min-h-10r{
  min-height: 10rem;
}
.min-h-90vh{
  min-height: 85vh;
}
.animate-spin-slow {
    animation: spin-slow 30s linear infinite;
  }

.bg-azul-negro{
    background: linear-gradient(107.56deg, #2F3F80 0%, #000001 100%);
}
.bg-blanco-azul{
    background: linear-gradient(107.56deg, #fff 0%, #2F3F80 100%);
}
@keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

.animate-born{
  animation: born 1.5s linear ;
  /* transform: ; */
}
@keyframes born {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;;
    }
}

.animate-rotate-one{
  animation: rotateOne .5s linear ;
  /* transform: ; */
}
@keyframes rotateOne {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}